:root {
  --main-bg-cl: #2f2f2f;
  --main-db-bg-cl: #101014;
  --main-card-bg-cl: #1b1a1d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--main-bg-cl);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--main-db-bg-cl);
  height: 90vh;
  width: 90vw;
  border-radius: 25px;
  display: grid;
  grid-template: 1fr 7fr 7fr / 3fr 1fr;
  padding: 2rem;
  color: white;
  gap: 2rem;
}

.dashboard-header-left {
  display: grid;
  grid-template: 1fr / 2fr 4fr;
  justify-items: center;
}

.location {
  align-self: center;
  font-size: 1.25rem;
}

.location-input {
  background-color: var(--main-bg-cl);
  width: 100%;
  border-radius: 10px;
}

.location-input input {
  width: 100%;
  background-color: var(--main-bg-cl);
  color: white;
  padding: 0.875rem;
  border: none;
  border-radius: 10px;
  outline: none;
}

.location-input input:focus {
  border: 2px solid white;
}

.dashboard-header-right {
  display: flex;
  justify-content: space-around;
}

.icon {
  height: 50px;
  width: 50px;
  background-color: var(--main-bg-cl);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-card-container {
  grid-column: 1;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.weather-card {
  flex: 1;
  min-height: 100%;
  background-color: var(--main-card-bg-cl);
  border-radius: 25px;
  padding: 1rem;
  text-align: center;
}

.weather-data {
  font-size: 1.25rem;
}
.weather-data::after {
  content: '\00b0 F';
}

.weather-card-details-container {
  grid-row: 3;
}

.weather-card-add-details {
  background-color: var(--main-card-bg-cl);
  height: 100%;
  border-radius: 25px;
  text-align: center;
}

.precipitation-graph-container {
  grid-column: 2;
  grid-row: 2;
}

.precipitation-graph {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-color: var(--main-card-bg-cl);
  text-align: center;
}

.other-cities-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.other-cities {
  text-align: center;
  background-color: var(--main-card-bg-cl);
  border-radius: 25px;
  flex: 1;
}
